.card-container{
    margin-top: 15px;
    border: none !important;
}

.card-container h1{
    color:darkgoldenrod;
    font-size: x-large;
}

.card-img{
    height: 170px;
    object-fit: cover;
}

.card-column:hover {
    transform: translateY(-20px);
}